In [1]:
%matplotlib inline
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (20.0,10.0)

#Reading data 
data = pd.read_csv('StudentsPerformance.csv')
#data.head(20)
data["mean score"] = ((data["math score"] + data["reading score"] + data["writing score"]) /3).round()

#explor how many female and meale in the class 
data['gender'].value_counts()

#Label Encoding my data so that i can read my data in numeric form 

from sklearn.preprocessing import LabelEncoder
lc = LabelEncoder()
data['gender']= lc.fit_transform(data['gender'])
data['race/ethnicity']= lc.fit_transform(data['race/ethnicity'])
data['parental level of education']= lc.fit_transform(data['parental level of education'])
data['lunch']= lc.fit_transform(data['lunch'])
data['test preparation course']= lc.fit_transform(data['test preparation course'])
data.head(20)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,mean score
0,0,1,1,1,1,72,72,74,73.0
1,0,2,4,1,0,69,90,88,82.0
2,0,1,3,1,1,90,95,93,93.0
3,1,0,0,0,1,47,57,44,49.0
4,1,2,4,1,1,76,78,75,76.0
5,0,1,0,1,1,71,83,78,77.0
6,0,1,4,1,0,88,95,92,92.0
7,1,1,4,0,1,40,43,39,41.0
8,1,3,2,0,0,64,64,67,65.0
9,0,1,2,0,1,38,60,50,49.0
10,1,2,0,1,1,58,54,52,55.0
11,1,3,0,1,1,40,52,43,45.0
12,0,1,2,1,1,65,81,73,73.0
13,1,0,4,1,0,78,72,70,73.0
14,0,0,3,1,1,50,53,58,54.0
15,0,2,5,1,1,69,75,78,74.0
16,1,2,2,1,1,88,89,86,88.0
17,0,1,5,0,1,18,32,28,26.0
18,1,2,3,0,0,46,42,46,45.0
19,0,2,0,0,1,54,58,61,58.0

In [3]:
x = data.drop(columns="mean score").values

In [4]:
y = data["mean score"].values

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
model.fit(x_train,y_train)

RandomForestRegressor()

In [9]:
predictions=model.predict(x_test)

In [10]:
predictions

array([68.84, 76.63, 44.76, 68.01, 74.03, 72.66, 70.08, 43.93, 86.58,
       37.6 , 52.01, 65.34, 81.87, 80.45, 54.17, 39.53, 52.65, 86.55,
       53.14, 79.68, 62.97, 55.53, 76.61, 60.48, 47.74, 64.39, 58.6 ,
       48.51, 63.11, 81.31, 79.55, 89.42, 89.09, 56.21, 54.98, 83.9 ,
       97.01, 59.04, 71.72, 71.96, 68.79, 57.28, 70.39, 71.61, 78.68,
       58.41, 85.42, 61.77, 83.78, 57.77, 37.77, 62.85, 49.4 , 57.44,
       39.9 , 70.15, 52.39, 64.41, 77.81, 60.94, 67.61, 77.3 , 50.3 ,
       71.43, 65.55, 64.57, 71.78, 51.54, 67.1 , 54.97, 74.9 , 85.08,
       74.1 , 65.4 , 57.44, 65.09, 72.43, 69.57, 29.5 , 76.81, 78.22,
       85.73, 68.46, 83.77, 67.64, 75.44, 64.75, 91.32, 71.16, 56.69,
       71.99, 61.81, 61.16, 60.82, 78.7 , 71.9 , 52.12, 67.96, 62.6 ,
       64.66, 44.45, 87.03, 63.71, 44.01, 76.71, 75.49, 68.67, 59.14,
       55.25, 85.14, 68.51, 76.46, 37.12, 53.57, 68.28, 71.9 , 80.29,
       76.75, 80.9 , 59.63, 53.42, 78.72, 91.59, 80.89, 74.57, 58.24,
       73.12, 74.52, 71.6 , 62.3 , 65.54, 66.29, 22.63, 82.19, 83.93,
       60.18, 65.27, 64.87, 69.18, 82.91, 71.46, 66.65, 56.5 , 60.15,
       76.64, 36.81, 41.77, 44.86, 81.05, 87.33, 50.34, 72.18, 95.36,
       70.12, 75.01, 80.1 , 51.71, 56.01, 55.09, 51.82, 91.54, 50.11,
       51.54, 92.39, 65.4 , 76.3 , 76.26, 69.09, 58.51, 62.63, 56.9 ,
       66.34, 33.15, 65.4 , 85.09, 68.09, 68.92, 51.81, 96.6 , 79.01,
       65.64, 83.54, 68.22, 67.19, 79.03, 67.66, 95.88, 99.7 , 73.35,
       47.01, 51.09, 60.38, 50.07, 76.68, 57.95, 60.86, 83.3 , 81.09,
       69.38, 65.73, 75.77, 78.21, 57.11, 92.52, 68.52, 51.19, 78.13,
       81.98, 73.65, 68.95, 53.53, 91.39, 56.98, 64.01, 37.7 , 70.03,
       80.37, 62.96, 56.22, 72.2 , 76.42, 66.91, 61.44, 73.41, 64.15,
       78.56, 87.37, 60.05, 44.13, 63.35, 45.17, 64.25, 54.36, 48.85,
       59.14, 66.3 , 70.54, 67.27, 69.69, 58.62, 77.79, 51.17, 79.54,
       58.9 , 75.33, 72.03, 61.3 , 92.4 , 62.51, 84.84])

In [11]:
from sklearn.metrics import r2_score

In [12]:
print(r2_score(predictions,y_test))

0.9963649369288088